/* import font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
  }
/* Box-shadow */
.shadow {
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

/* color */

body {
    --tag-txt: #883AE1;
    --tag-bg: #E6D6FC;
    --color-bg: #FAFAF9;
    --title-color: #20293A;
    --text-color: #6C727F;
    --separator-color: #E5EAF0;
    display: flex;
    justify-content: center;
    margin-top: 164px;
    background-color: var(--color-bg);
    font-family: 'Sora', sans-serif;
}

img {
    width: 336px;
    height: 152px;
    border-radius: 16px;
    margin: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
}

.tag {
    display: flex;
    background-color: var(--tag-bg);
    color: var(--tag-txt) ;
    border-radius: 16px;
    padding: 6px 16px 6px 16px;
    width: fit-content;
    height: fit-content;
    margin-left: 16px;
    font-size: 0.625rem;
}

.card-title {
    display: flex;
    margin-top: 16px;
    margin-bottom: 6px;
    margin-left: 16px;
    font-size: 1.125rem;
    color: var(--title-color)
}

.card-txt {
    width: 336px;
    font-size: 0.875rem;
    margin-left: 16px;
    margin-bottom: 20px;
    color: var(--text-color)
}

.card-author {
    display: flex;
    align-items: flex-end;
    padding: 20px 16px 20px 16px;
    font-size: 0.75rem;
    border-top: solid 1px var(--separator-color);
    color: var(--text-color)
}